# Dependencies
node_modules/

# Build output
dist/

# Test coverage
coverage/

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea
*.swp
*.swo

# Including .vscode for shared settings
!.vscode/

# OS files
.DS_Store
Thumbs.db 